<!DOCTYPE html>
<html lang="en">
  #parse("/pages/head.vm")
  <body>
	<div class="container-fluid">
	#parse("/pages/top-nav.vm")
    	<div class="row">
    		#parse("/pages/left-nav.vm")
    		<div class="col-md-10">
    			#parse("/pages/function-bar.vm")
    			<div class="row">
    				<div class="col-md-12">
    					<!-- 这里添加内容 -->
    				</div>
    			</div>
    		</div>
    	</div>
	</div>
	#parse("/pages/bottom.vm")
  </body>
</html>